<p>
  <%= @greeting %>,

  <%= "#{ @users.count } #{ 'user'.pluralize(@users.count) } unfollowed you." %>
  <% if @users.present? %>
    <br>
    NAMES:
    <ul>
      <% @users.each do |user| %>
      <li>
        <%= user.name %>(@<%= user.screen_name %>)
      </li>
      <% end %>
    </ul>
  <% end %>
</p>
